@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Poppins';
	src: local('Poppins'), url(./assets/fonts/Poppins-Regular.ttf) format('ttf');
}

@layer components {
	.dash-btn {
		@apply border font-bold w-32 hover:border-b-4 transition-all duration-300;
	}

	.input-primary {
		@apply outline-none border border-gray-400 focus:border-main-primary-border focus:ring-1 focus:ring-main-primary-border focus:ring-opacity-80 transition-colors duration-200 p-1;
	}

	.btn-primary {
		@apply border border-main-primary-border bg-main-primary-border p-1 text-white rounded hover:bg-main-primary-hover active:bg-main-primary;
	}

	.btn-secondary {
		@apply border disabled:hover:bg-white disabled:hover:text-gray-500 disabled:text-gray-500 disabled:cursor-not-allowed border-main-primary-border bg-white p-1 transition-colors duration-200 rounded text-main-primary-border hover:text-white hover:bg-main-primary active:bg-main-primary;
	}

	.btn-danger {
		@apply border border-main-danger-border bg-white p-1 transition-colors duration-200 rounded text-main-danger hover:text-white hover:bg-main-danger active:bg-main-danger;
	}

	.btn-warning {
		@apply border border-main-warning-border bg-white p-1 transition-colors duration-200 rounded text-main-warning hover:text-white hover:bg-main-warning active:bg-main-warning;
	}

	.btn-acc {
		@apply border border-main-acc-border bg-white p-1 transition-colors duration-200 rounded text-main-acc hover:text-white hover:bg-main-acc active:bg-main-acc;
	}

	.input-file {
		@apply block text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-main-primary-border focus:outline-none;
	}

	.checkbox {
		@apply accent-emerald-600;
	}

	.sidebar-item {
		@apply inline-flex px-2 py-4 hover:bg-main-sidebar-active transition-all duration-300 border-l-white border-l-4;
	}

	.sidebar-item-active {
		@apply inline-flex px-2 py-4 hover:bg-main-sidebar-active bg-main-sidebar-active border-l-4 transition-all duration-300 border-l-black;
	}

	body {
		@apply overflow-y-scroll text-gray-700;
	}

	html {
		@apply text-sm bg-gray-100;
	}

	.right-panel {
		height: calc(100% - theme('spacing.16'));
		width: calc(100% - theme('spacing.60'));
	}

	.right-panel-hidden {
		height: calc(100% - theme('spacing.16'));
		width: calc(100% - theme('spacing.16'));
	}

	.web-editor{
		height: calc(100vh - theme('spacing.32'));
	}
}

/**
::-webkit-scrollbar {
	width: 10px;
	height: 14px;
}

::-webkit-scrollbar-track {
	background: rgba(26, 179, 148, 0.2);
}

::-webkit-scrollbar-thumb {
	background: rgba(26, 179, 148, 0.5);
	border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(26, 179, 148, 0.7);
}
**/
